services:
  postgres:
    image: postgres:17-alpine
    container_name: treino-do-dia-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: treino_do_dia
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
